# site settings
title: "Jason's classroom"
email: support@jasonsclassroom.com
description: >
  A place to study for your High School Equivalency Diploma

baseurl: ""
url: http://beta.jasonsclassroom.com
repository: champa720/hse-materialize

google_analytics: UA-60117774-1

social_media:
  # facebook: http://www.facebook.com/groups/jasonsclassroom
  linkedin: https://www.linkedin.com/in/jason-kilpatrick-17111717
  github: https://github.com/champa720/hse-materialize


# build settings
collections_dir: collections
timezone: America/Denver
markdown: kramdown
kramdown:
  math_engine: mathjax
#  theme: minima
plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-github-metadata
exclude:
  - _sass
  - Gemfile
  - Gemfile.lock
  - node_modules
  - package.json
  - style-bundle.js
  - webpack.config.js
sass:
  style: compressed


# collection defaults
collections:
  chapters:
    output: true
    permalink: /:path/
  lessons:
    output: true
    permalink: /:collection/:path/
  pages:
    output: true
    permalink: /:path/
  sections:
    output: true
    permalink: /:path/

# global defaults
defaults:
  -
    scope:
      path: ""
      type: "chapters"
    values:
      layout: library
  -
    scope:
      path: ""
      type: "lessons"
    values:
      layout: lesson
  -
    scope:
      path: ""
      type: "sections"
    values:
      layout: library
