---
layout: default
title: table of contents
---

{% assign x = site.collections | group_by: 'categories' | sort: 'name' %}

{% for a_grouped in x %}
{% if a_grouped.name != 'null' %}
<div class="section">
  <div class="valign-wrapper">
    <div class="container">
      <div class="row">
        <h2 class="sub page-title grey-text text-darken-2 center-align">{{ a_grouped.name | upcase }}</h2>

        {% for p in a_grouped.items %}
        <div class="col s12 m6 l4">
          <div class="collection hoverable">
            <!-- constructed anchor link -->
            <a href="{{ p.label | prepend: p.permalink | remove: ':collection/:path' }}">

              {% if p.image_path %}
              <div class="collection-item center-align">
                <img src="{{ p.image_path }}" class="responsive-img" style="height:84px" />
              </div>

              {% elsif p.icon %}
              <div class="collection-item {{ p.color }} center-align">
                <i class="material-icons" style="font-size:84px; color:ghostwhite;">{{ p.icon }}</i>
              </div>

              {% endif %}

              {% if p.tagline %}
              <div class="collection-item {{ page.color }}" style="color:ghostwhite;">
                {{ p.tagline | upcase }}
              </div>

              {% elsif p.label %}
              <div class="collection-item {{ page.color }} center-align" style="color:ghostwhite;">
                {{ p.label | upcase }}
              </div>

              {% endif %}
            </a>
          </div>
        </div>

        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endfor %}