---
layout: null

subject: Home

---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

<body id="{{ page.subject | slugify }}">

<header>
  <div class="navbar-fixed">
    <nav>
      <div class="row">
        <span class="nav-wrapper col s12">

          <!-- social media -->
          <ul class="right">
            {% for media in site.social_media %}
            <li class="waves-effect waves-light">
              <a href="{{ media[1] }}"  target="_blank" rel="noopener">
                <svg>
                  <use xlink:href="/assets/img/icons.svg#{{ media[0] }}" />
                </svg>
                <span class="hide">{{ media[0] }}</span>
              </a>
            </li>
            {% endfor %}
          </ul>
        </span>

      </div>
    </nav>
  </div>
</header>

<main class="valign-wrapper">
  <span class="container">

    <!-- title wrapper -->
    <div id="introduction" class="section flow-text">
      <p>Welcome to</p>
      <h1>{{ site.title | upcase }}</h1>
      <blockquote><p>{{ site.description }}</p></blockquote>
    </div>

  </span>
</main>

<!-- creates loop for hse_menu by subject  -->
{% assign hse_menu = site.pages | where_exp: "item", "item.subject == 'HSE'" %}
<!-- creates loop for hse_menu by subject  -->
{% assign instructor_menu = site.pages | where_exp: "item", "item.subject == 'Lessons'" | sort: "chapter" %}
<!-- creates loop for subject_menu by subject > category -->
{% assign subject_menu = site.pages | where_exp: "item", "item.category == 'index'" %}

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col s12 m5">
        <h6 class="truncate">About HSE</h6>
        <div class="collection">

          {% for menu in hse_menu %}
          <a href="{{ menu.url }}" class="collection-item truncate waves-effect{% if page.url == menu.url %} active{% endif %}"><i class="material-icons left">{{ menu.icon }}</i>{{ menu.title }}</a>
          {% endfor %}

        </div>
        <h6 class="truncate">Instructor Resources</h6>
        <div class="collection">

          {% for menu in instructor_menu %}
          <a href="{{ menu.url }}" class="collection-item truncate waves-effect{% if page.url == menu.url %} active{% endif %}"><i class="material-icons left">{{ menu.icon }}</i>{{ menu.title }}</a>
          {% endfor %}

        </div>
      </div>
      <div class="col s12 m5 offset-m1">
        <h6 class="truncate">Subject Resources</h6>
        <div class="collection">

          {% for menu in subject_menu %}
          <a href="{{ menu.url }}" class="collection-item truncate waves-effect{% if page.url == menu.url %} active{% endif %}"><i class="material-icons left">{{ menu.icon }}</i>{{ menu.title }}</a>
          {% endfor %}

        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="footer-wrapper">
      &copy; {{ site.time | date: "%Y" }}, Jason Kilpatrick, All Rights Reserved
    </div>
  </div>
</footer>

{% include foot.html %}
