---
javascript: true
layout: null

main_menu:
  about-hse: /hse/
  study-materials: /materials/
  resources: /resources/
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body id="home">

    <header>
      <div class="navbar-fixed">
        <nav>
          <div class="row">
            <span class="nav-wrapper col s12">

              <!-- social media -->
              <ul class="right">
                {% for media in site.social_media %}
                <li class="waves-effect waves-light">
                  <a href="{{ media[1] }}" target="_blank">
                    <svg>
                      <use xlink:href="/assets/img/icons.svg#{{ media[0] }}" />
                    </svg>
                    <span class="hide">{{ media[0] }}</span>
                  </a>
                </li>
                {% endfor %}
              </ul>
            </span>

          </div>
        </nav>
      </div>
    </header>

    <main class="valign-wrapper">
      <span class="container">

        <!-- title wrapper -->
        <div class="section">
          <p class="flow-text">Welcome to</p>
          <h1 class="page-title">{{ site.title | upcase }}</h1>
          <blockquote class="flow-text">{{ site.description }}</blockquote>
        </div>

      </span>
    </main>

    <div class="fixed-action-btn toolbar">
      <a class="btn-floating btn-large">
        <i class="large material-icons">apps</i>
      </a>
      <ul>
        
        {% for menu in page.main_menu %}
        <li class="waves-effect waves-light">
          <a href="{{ menu[1] | relative_url }}">{{ menu[0] | captialize }}</a>
        </li>
        {% endfor %}
        
      </ul>
    </div>

    <footer class="page-footer">
      <div class="footer-copyright">
        <div class="footer-wrapper">&copy; {{ site.time | date: "%Y" }}, Jason Kilpatrick, All Rights Reserved</div>
      </div>
    </footer>

    {% include foot.html %}

  </body>
</html>