{% assign a = page.collection %}
<div class="collection with-header">
  <div class="collection-header center-align">
    <img src="{{ page.image_path | prepend: site.baseurl }}" class="responsive-img" style="height:84px" />
  </div>
  <div class="collection-item {{ page.color }} white-text">
    {{ page.tagline | upcase }}
  </div>

  {% for p in site.[a] %}
  {% if p.categories == page.categories %}
  <a href="{{ p.url | remove: 'index' | remove: 'index.html' | prepend: site.baseurl }}" class="collection-item waves-effect waves-dark{% if p.url == page.url %} active{% endif %}">{{ p.title }}</a>

  {% endif %}
  {% endfor %}
  <div class="collection-item {{ page.color }} white-text"></div>
</div>

{% if site.data.[a] %}
<ul class="collapsible" data-collapsible="accordion">

  {% for d in site.data.[a] %}
  <li>
    <div class="collapsible-header {{ page.color }} white-text waves-effect waves-light">
      <i class="material-icons rotate">expand_more</i>
      {{ d.title | upcase }}
    </div>
    <div class="collapsible-body">
      <div class="collection">

        {% for q in d.docs %}
        <a href="{{ q.url }}" target="_blank" class="collection-item waves-effect waves-dark">{{ q.title }}</a>

        {% endfor %}
      </div>
    </div>
  </li>

  {% endfor %}
  {% endif %}
</ul>

{% if site.data.exams.[a] %}
<div class="collection with-header">
  {% for data in site.data.exams.[a] %}
  <div class="collection-header {{ page.color }} white-text">
    {{ data.title | upcase }}
  </div>

  {% for q in data.docs %}
  <div class="collection-item avatar">
    <img src="{{ q.image_path }}" class="circle" />
    <a href="{{ q.url }}" target="_blank">{{ q.title }}</a>
    <p>{{ q.tagline }}</p>
  </div>

  {% endfor %}
  <div class="collection-item {{ page.color }} white-text"></div>
  {% endfor %}
</div>
{% endif %}