{% for standard in site.data.ccrs[include.subject] %} {% if include.subject == "mathematics" %}
<div id="{{ standard.title | slugify }}" class="modal modal-fixed-footer">
  <div class="modal-content flow-text casper">
    <h4>{{ standard.title }}</h4>
    <ul>

      {% for description in standard.description %}
      <li>{{ description }}</li>
      {% endfor %}

    </ul>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
  </div>
</div>

{% else %}
<div id="{{ standard.title | slugify }}" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>{{ standard.title }}</h4>
    <p class="flow-text casper">{{ standard.description }}</p>
    <ul class="collapsible popout" data-collapsible="accordion">

      {% for level in standard.level-specific %}
      <li>
        <div class="collapsible-header waves-effect"><i class="material-icons rotate">expand_more</i>{{ level[0] }}</div>
        <div class="collapsible-body flow-text casper">
          <ul>

            {% for description in level[1] %}
            <li>{{ description }}</li>
            {% endfor %}

          </ul>
        </div>
      </li>
      {% endfor %}

    </ul>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
  </div>
</div>

{% endif %} {% endfor %}
