<!-- creates loop for subject_data by subject -->
{%- assign subject_data = site.data.classroom | where_exp: "item", "item.subject == page.subject" -%}
{%- for data in subject_data -%}

<!--
  --
  --
  content data cbt
  -->

  <article>
    <h2 class="mdc-typography--headline6">Apps & Websites</h2>
    <!-- desktop list -->
    <ul class="mdc-image-list mdc-image-list--with-text-protection">

      {%- for content in data.cbt -%}
        <li class="mdc-image-list__item mdc-ripple-surface" data-mdc-auto-init="MDCRipple">
          <a href="{{ content.url }}" target="_blank" rel="noopener">
            <div class="mdc-image-list__image-aspect-container">
              <img class="mdc-image-list__image" alt="logo" aria-hidden="true"
                   src="{{ content.avatar | prepend: '/assets/img/avatars/' | relative_url}}" />
            </div>
            <div class="mdc-image-list__supporting">
              <span class="mdc-image-list__label">{{ content.title }}</span>
            </div>
          </a>
        </li>
      {%- endfor -%}

    </ul>
    <!-- mobile list -->
    <ul class="mdc-list mdc-list--two-line mdc-list--avatar-list" aria-orientation="vertical" data-mdc-auto-init="MDCList">

      {%- for content in data.cbt -%}
        <li class="mdc-ripple-surface" data-mdc-auto-init="MDCRipple">
          <a class="mdc-list-item" href="{{ content.url }}" target="_blank" rel="noopener" {%- if forloop.first %} tabindex="0"{%- endif -%} >
            <img class="mdc-list-item__graphic" alt="logo" aria-hidden="true"
                 src="{{ content.avatar | prepend: '/assets/img/avatars/' | relative_url}}" />
            <span class="mdc-list-item__text">
              <span class="mdc-list-item__primary-text">{{ content.title }}</span>
              <span class="mdc-list-item__secondary-text">{{ content.domain }}</span>
            </span>

            {%- if content.badge == true -%}
              <i class="mdc-list-item__meta material-icons">star</i>
            {%- endif -%}

          </a>
        </li>
      {%- endfor -%}

    </ul>
  </article>

  <!--
    --
    --
    content data docs
    -->

  {%- if data.docs -%}
    <article>
      <h2 class="mdc-typography--headline6">Resources</h2>
      <!-- desktop list -->
      <ul class="mdc-image-list mdc-image-list--with-text-protection">

        {%- for content in data.docs -%}
          <li class="mdc-image-list__item mdc-ripple-surface" data-mdc-auto-init="MDCRipple">
            <a href="{{ content.url }}" target="_blank" rel="noopener">
              <img class="mdc-image-list__image" alt="preview" aria-hidden="true"
                   src="{{ content.cover_image | prepend: '/assets/img/book_covers/' | relative_url}}" />
              <div class="mdc-image-list__supporting">
                <span class="mdc-image-list__label">{{ content.title }}</span>
              </div>
            </a>
          </li>
        {%- endfor -%}

      </ul>
      <!-- mobile list -->
      <ul class="mdc-list mdc-list--two-line mdc-list--avatar-list" aria-orientation="vertical" data-mdc-auto-init="MDCList">

        {%- for content in data.docs -%}
          <li class="mdc-ripple-surface" data-mdc-auto-init="MDCRipple">
            <a class="mdc-list-item" href="{{ content.sections[url] }}" target="_blank" rel="noopener" {%- if forloop.first %} tabindex="0"{%- endif -%}>
              <img class="mdc-list-item__graphic" alt="preview" aria-hidden="true"
                   src="{{ content.cover_image | prepend: '/assets/img/book_covers/' | relative_url }}" />
              <span class="mdc-list-item__text">
                <span class="mdc-list-item__primary-text">{{ content.title }}</span>
                <span class="mdc-list-item__secondary-text">{{ content.domain }}</span>
              </span>

              {%- if content.badge == true -%}
                <i class="mdc-list-item__meta material-icons">star</i>
              {%- endif -%}

            </a>
          </li>
        {%- endfor -%}

      </ul>
    </article>
  {%- endif -%}
{%- endfor -%}

{%- comment -%}
<!--
  --
  --
  content page Library
  -->

{%- if page.library -%}
  <article>
    <h2 class="mdc-typography--headline6">Library</h2>
    <!-- desktop list -->
    <ul class="mdc-image-list mdc-image-list--with-text-protection">

      {%- for content in page.library  -%}
        <li class="mdc-image-list__item mdc-ripple-surface" data-mdc-auto-init="MDCRipple">
          <a id="{{ content.domain | append: '-' | append: content.title | slugify }}--dialog-activation">
            <img class="mdc-image-list__image" alt="preview" aria-hidden="true"
                 src="{{ content.cover_image | prepend: '/assets/img/book_covers/' | relative_url}}" />
            <div class="mdc-image-list__supporting">
              <span class="mdc-image-list__label">{{ content.title }}</span>
            </div>
          </a>
        </li>
      {%- endfor -%}

    </ul>
    <!-- mobile list -->
    <ul class="mdc-list mdc-list--two-line mdc-list--avatar-list" aria-orientation="vertical" data-mdc-auto-init="MDCList">

      {%- for content in page.library -%}
        <li class="mdc-ripple-surface" data-mdc-auto-init="MDCRipple">
          <a class="mdc-list-item" id="{{ content.domain | append: '-' | append: content.title | slugify }}--dialog-activation" {%- if forloop.first %} tabindex="0"{%- endif -%}>
            <img class="mdc-list-item__graphic" alt="preview" aria-hidden="true"
                 src="{{ content.cover_image | prepend: '/assets/img/book_covers/' | relative_url }}" />
            <span class="mdc-list-item__text">
              <span class="mdc-list-item__primary-text">{{ content.title }}</span>
              <span class="mdc-list-item__secondary-text">{{ content.domain }}</span>
            </span>
          </a>
        </li>
      {%- endfor -%}

    </ul>
  </article>
{%- endif -%}
{%- endcomment -%}
