{%- if page.layout == "section" -%}<!-- creates loop for site.data by include.subject -->
{%- assign subject = site.data[include.data] | where_exp: "item", "item.subject == include.subject" -%}
{%- else -%}<!-- creates loop for site.data by page.subject -->
{%- assign subject = site.data[include.data] | where_exp: "item", "item.subject == page.subject" -%}
{%- endif -%}

{%- for data in subject -%}
<article class="section">
  <h2>{{ include.title }} Subtest Overview</h2>
  <div class="mdc-list-group">
    <span class="mdc-list-group__subheader">{{ data.title }}</span>
    <ul class="mdc-list mdc-list--two-line mdc-list--avatar-list mdc-list--non-interactive" aria-orientation="vertical">
      <li class="mdc-list-item">
        <i class="mdc-list-item__graphic material-icons" aria-hidden="true">alarm</i>

        {%- for data in data.time -%}
        <span class="mdc-list-item__text">
          {{ data.primary }}
          <span class="mdc-list-item__secondary-text">
            {{ data.secondary }}
          </span>
        </span>
        {%- endfor -%}

      </li>

      {%- for data in data.format -%}
      <li class="mdc-list-item">
        <i class="mdc-list-item__graphic material-icons" aria-hidden="true">
          {%- if forloop.first -%} assignment {%- endif -%}
        </i>
        <span class="mdc-list-item__text">
          {{ data.primary }}
          <span class="mdc-list-item__secondary-text">
            {{ data.secondary }}
          </span>
        </span>
      </li>
      {%- endfor -%}

    </ul>
    <div class="mdc-card__actions">
      <div class="mdc-card__action-buttons">
        <a href="{{ data.testing_url }}"  target="_blank" rel="noopener"
           class="mdc-button mdc-card__action mdc-card__action--button">{{ data.testing_url }}</a>
        <a href="{{ data.test_center }}"  target="_blank" rel="noopener"
           class="mdc-button mdc-card__action mdc-card__action--button">Locate a Testing Center</a>
      </div>
    </div>
  </div>
</article>

{%- if page.layout == "section" -%} {%- break -%} {%- endif -%}

<article class="section">
  <h2>{{ include.title }} Online Practice</h2>
  <nav class="mdc-list mdc-list--two-line mdc-list--avatar-list" aria-orientation="vertical">

    {%- for cbt in data.cbt -%}
    <a href="{{ cbt.url }}"  target="_blank" rel="noopener" class="mdc-list-item">
      <img class="mdc-list-item__graphic" alt="logo" aria-hidden="true"
           src="/assets/img/avatars/{{ cbt.avatar }}" />
      <span class="mdc-list-item__text">
        {{ cbt.category }}
        <span class="mdc-list-item__secondary-text">
          {{ cbt.excerpt }}
        </span>
      </span>
    </a>
    {%- endfor -%}

  </nav>
</article>

<article class="section">
  <h2>{{ include.title }} Printable Resources</h2>

  <nav class="mdc-list mdc-list--two-line mdc-list--thumbnail-list" aria-orientation="vertical">

    {%- for doc in data.docs -%}
    <a href="{{ doc.url_english }}"  target="_blank" rel="noopener" class="mdc-list-item">
      <img class="mdc-list-item__graphic" alt="preview" aria-hidden="true"
           src="{{ doc.cover_image | prepend: 'assets/img/thumbnails/' | absolute_url }}" />
      <span class="mdc-list-item__text">
        {{ doc.category }}
        <span class="mdc-list-item__secondary-text" hidden>
          {{ doc.excerpt }}
        </span>
      </span>

      {%- if doc.badge == true -%}
      <i class="mdc-list-item__meta material-icons" aria-hidden="true">new_releases</i>
      {%- endif -%}

    </a>
    {%- endfor -%}

    {%- comment -%}
    <hr class="mdc-list-divider">
    <div class="mdc-card__actions">
      <div class="mdc-card__action-buttons">
        <a href="{{ doc.url_english }}"  target="_blank" rel="noopener"
           class="mdc-button mdc-card__action mdc-card__action--button">English</a>
        <a href="{{ doc.url_spanish }}"  target="_blank" rel="noopener"
           class="mdc-button mdc-card__action mdc-card__action--button">EspaÑol</a>
      </div>
    </div>
    {%- endcomment -%}

  </nav>

</article>
{%- endfor -%}
