{% if page.layout == "section" %}<!-- creates loop for site.data by include.subject -->
{% assign subject = site.data[include.data] | where_exp: "item", "item.subject == include.subject" %}
{% else %}<!-- creates loop for site.data by page.subject -->
{% assign subject = site.data[include.data] | where_exp: "item", "item.subject == page.subject" %}
{% endif %}

{% for data in subject %}
<article class="section">
  <h4>{{ include.title }} Subtest Overview</h4>
  <div class="card">
    <div class="card-content">
      <span class="card-title">{{ data.title }}</span>
      <dl>
        <dt><i class="material-icons left">alarm</i></dt>
        <dd>{{ data.time }}</dd>
      </dl>
      <dl>
        <dt><i class="material-icons left">assignment</i></dt>

        {% for format in data.format %}
        <dd>{{ format }}</dd>
        {% endfor %}

      </dl>
    </div>
    <div class="card-action">
      <a href="{{ data.testing_url }}" target="_blank">{{ data.testing_url }}</a>
      <a href="{{ data.test_center }}" target="_blank">Locate a Testing Center</a>
    </div>
  </div>
</article>

{% if page.layout == "section" %}{% break %}{% endif %}

<article class="section">
  <h4>{{ include.title }} Online Practice</h4>
  <div class="collection z-depth-1">

    {% for cbt in data.cbt %}
    <a href="{{ cbt.url }}" class="collection-item avatar waves-effect" target="_blank">
      <img src="/assets/img/avatars/{{ cbt.avatar }}" alt="logo" class="circle">
      <p class="title">{{ cbt.category }}</p>
      <p class="truncate">{{ cbt.excerpt }}</p>
    </a>
    {% endfor %}

  </div>
</article>

<article class="section">
  <h4>{{ include.title }} Printable Practice</h4>

  {% for doc in data.docs %}
  <div class="card horizontal small">
    <div class="card-image">
      <img src="/assets/img/thumbnails/{{ doc.cover_image }}">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        {% if doc.badge == true %}<i class="material-icons secondary-content">new_releases</i>{% endif %}
        <span class="card-title">{{ doc.category }}</span>
        {{ doc.excerpt | markdownify }}
      </div>
      <div class="card-action">
        <a href="{{ doc.url_english }}" target="_blank">English</a>
        <a href="{{ doc.url_spanish }}" target="_blank">EspaÑol</a>
      </div>
    </div>
  </div>

  {% endfor %}

</article>
{% endfor %}
