<!-- creates loop for subject_data by subject -->
{%- assign subject_data = site.data.classroom | where_exp: "item", "item.subject == page.subject" -%}
{%- for data in subject_data -%}

<article>
  <h2 id="online-practice">Online Practice</h2>
  <nav class="mdc-list mdc-list--two-line mdc-list--avatar-list" aria-orientation="vertical">

    {%- for cbt in data.cbt -%}
    <a href="{{ cbt.url }}"  target="_blank" rel="noopener" class="mdc-list-item">
      <img src="/assets/img/avatars/{{ cbt.avatar }}" alt="logo" class="mdc-list-item__graphic" />
      <span class="mdc-list-item__text">{{ cbt.category }}
        <span class="mdc-list-item__secondary-text">{{ cbt.excerpt }}
        </span>
      </span>
      {% if cbt.badge == true %}<i class="mdc-list-item__meta material-icons">new_releases</i>{% endif %}
    </a>
    {%- endfor -%}

  </nav>
</article>

{%- if data.docs -%}
<article>
  <h2 id="pdf-sources">Printable Resources</h2>
  <nav class="mdc-list mdc-list--two-line mdc-list--thumbnail-list" aria-orientation="vertical">

    {%- for doc in data.docs -%}

    <a href="{{ doc.url }}"  target="_blank" rel="noopener" class="mdc-list-item">
      <img class="mdc-list-item__graphic" alt="preview" aria-hidden="true"
           src="{{ doc.cover_image | prepend: '/assets/img/book_covers/' | absolute_url }}" />
      <span class="mdc-list-item__text">{{ doc.category }}
        <span class="mdc-list-item__secondary-text">{{ doc.excerpt }}
        </span>
      </span>

      {%- if doc.badge == true -%}
      <i class="mdc-list-item__meta material-icons">new_releases</i>
      {%- endif -%}

    </a>

    {%- endfor -%}

  </nav>
</article>
{%- endif -%}

{%- endfor -%}

{% if page.library %}
<article>
  <h2 id="library">Library</h2>
  <nav class="mdc-list mdc-list--two-line mdc-list--thumbnail-list" aria-orientation="vertical">

    {% for content in page.library %}

    <a id="{{ content.category | slugify }}-dialog-activation" href="#{{ content.category | slugify }}-dialog" class="mdc-list-item">
      <img class="mdc-list-item__graphic" alt="preview" aria-hidden="true"
           src="{{ content.cover_image | prepend: '/assets/img/book_covers/' | absolute_url }}" />
      <span class="mdc-list-item__text">{{ content.category }}
        <span class="mdc-list-item__secondary-text">{{ content.excerpt }}
        </span>
      </span>
      {% if doc.badge == true %}<i class="mdc-list-item__meta material-icons">new_releases</i>{% endif %}
    </a>

    {% endfor %}

  </nav>
</article>

{% endif %}
