<script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
<script src="https://unpkg.com/anchor-js@latest/anchor.min.js"></script>
<script>
  anchors.add();

  window.mdc.autoInit();

  //let drawer = new mdc.drawer.MDCPersistentDrawer(document.querySelector('.mdc-drawer--persistent'));
  //document.querySelector('button').addEventListener('click', function() {
  //  drawer.open = !drawer.open;
  //});


</script>

{%- if page.mathjax == true -%}
  {%- include javascript/katex.js -%}
{%- endif -%}
