<!-- creates loop for subject -->
{% assign subject = site.data[include.data] | where_exp: "item", "item.subject == page.subject" %}

{% for data in subject %}
<article class="section">
  <h5 class="grey-text text-darken-1">{{ include.title }} Subtest Overview</h5>
  <div class="card">
    <div class="card-content">
      <span class="card-title">{{ data.title }}</span>
      <dl class="flow-text">
        <dt><i class="material-icons left">alarm</i></dt>
        <dd>{{ data.time }}</dd>
      </dl>
      <dl class="flow-text">
        <dt><i class="material-icons left">assignment</i></dt>

        {% for format in data.format %}
        <dd>{{ format }}</dd>
        {% endfor %}

      </dl>
    </div>
    <div class="card-action grey lighten-3">
      <a href="{{ data.testing_url }}" target="_blank">{{ data.testing_url }}</a>
    </div>
  </div>
</article>

<article class="section">
  <h5 class="grey-text text-darken-1">{{ include.title }} Online Practice</h5>
  <div class="collection z-depth-1">
    
    {% for cbt in data.cbt %}
    <a href="{{ cbt.url }}" class="collection-item avatar" target="_blank">
      <img src="/assets/img/avatars/{{ cbt.avatar }}" alt="" class="circle">
      <p class="title">{{ cbt.category }}</p>
      <p class="flow-text truncate">{{ cbt.excerpt }}</p>
    </a>
    {% endfor %}
    
  </div>
</article>

<article class="section">
  <h5 class="grey-text text-darken-1">{{ include.title }} Printable Practice</h5>

  {% for doc in data.docs %}
  <div class="card horizontal small">
    <div class="card-image">
      <img src="/assets/img/thumbnails/{{ doc.cover_image }}">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        {% if doc.badge == true %}<i class="material-icons secondary-content">new_releases</i>{% endif %}
        <span class="card-title">{{ doc.category }}</span>
        <p class="flow-text">{{ doc.excerpt }}</p>
      </div>
      <div class="card-action grey lighten-3">
        <a href="{{ doc.url_english }}" target="_blank">English</a>
        <a href="{{ doc.url_spanish }}" target="_blank">EspaÑol</a>
      </div>
    </div>
  </div>

  {% endfor %}

</article>
{% endfor %}