<!-- creates loop for site.chapters by subject > category > group_by tag -->
{% assign subject = site.chapters | where_exp: "chapters", "chapters.subject == page.subject" %}
{% assign category = subject | where_exp: "chapters", "chapters.category == content.category" | group_by: "tag" | sort: "section" %}

<aside id="{{ content.category | slugify }}-dialog"
  class="mdc-dialog"
  role="dialog"
  aria-labelledby="{{ content.category | slugify }}-dialog"
  aria-describedby="{{ content.category | slugify }}-dialog">
  <div class="mdc-dialog__surface">
    <header class="mdc-dialog__header">
      <h2 id="mdc-dialog-with-list-label" class="mdc-dialog__header__title">
        {{ content.category }}
      </h2>
    </header>
    <section id="mdc-dialog-with-list-description" class="mdc-dialog__body mdc-dialog__body--scrollable">
      <div class="mdc-list-group">

        {%- for tag in category -%}
          <h3 class="mdc-list-group__subheader">{{ tag.name }}</h3>
          <nav class="mdc-list mdc-list--two-line" aria-orientation="vertical">

            {%- for chapter in tag.items -%}
              <a href="{{ chapter.url }}" class="mdc-list-item">
                <span class="mdc-list-item__text">
                 <span class="mdc-list-item__primary-text">{{ chapter.title }}</span>
                 <span class="mdc-list-item__secondary-text">{{ chapter.slug | capitalize | replace: "-", " " }}</span>
                </span>
              </a>
            {%- endfor -%}

          </nav>
        {%- endfor -%}

      </div>
    </section>
    <footer class="mdc-dialog__footer">
      <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--cancel">Decline</button>
      <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--accept">Accept</button>
    </footer>
  </div>
  <div class="mdc-dialog__backdrop"></div>
</aside>

<script>
  var dialog{{ forloop.index }} = new mdc.dialog.MDCDialog(document.querySelector('#{{ content.category | slugify }}-dialog'));
  document.querySelector('#{{ content.category | slugify }}-dialog-activation').addEventListener('click', function (evt) {
    dialog{{ forloop.index }}.lastFocusedTarget = evt.target;
    dialog{{ forloop.index }}.show();
  });
</script>
