<!-- creates loop for site.chapters by subject > category > group_by tag -->
{% assign subject = site.chapters | where_exp: "chapters", "chapters.subject == page.subject" %}
{% assign category = subject | where_exp: "chapters", "chapters.category == content.domain" | group_by: "tag" | sort: "section" %}

<aside id="{{ content.domain | append: '-' | append: content.title | slugify }}--dialog"
  class="mdc-dialog"
  role="dialog"
  aria-labelledby="dialog-domain"
  aria-describedby="dialog-description">
  <div class="mdc-dialog__container">
    <div class="mdc-dialog__surface">
      <h3 class="mdc-dialog__title" id="dialog-domain">{{ content.domain }}</h3>
      <section class="mdc-dialog__content" id="dialog-description">
        <div class="mdc-list-group">

          {%- for tag in category -%}
            <p class="mdc-list-group__subheader">{{ tag.name }}</p>
            <ul class="mdc-list mdc-list--two-line mdc-list--avatar-list" aria-orientation="vertical" data-mdc-auto-init="MDCList">

              {%- for chapter in tag.items -%}
                <li class="mdc-ripple-surface" data-mdc-auto-init="MDCRipple">
                  <a class="mdc-list-item" href="{{ chapter.url }}" {%- if forloop.first %} tabindex="0"{%- endif -%} >
                    <span class="mdc-list-item__graphic material-icons" aria-hidden="true"></span>
                    <span class="mdc-list-item__text">
                     <span class="mdc-list-item__primary-text">{{ chapter.title }}</span>
                     <span class="mdc-list-item__secondary-text">{{ chapter.slug | capitalize | replace: "-", " " }}</span>
                    </span>
                  </a>
                </li>
              {%- endfor -%}

            </ul>
          {%- endfor -%}

        </div>
      </section>
      <footer class="mdc-dialog__actions">
        <button type="button" class="mdc-button mdc-dialog__button mdc-dialog__button--default" data-mdc-dialog-action="close">Close</button>
      </footer>
    </div>
  </div>
  <div class="mdc-dialog__scrim"></div>
</aside>

<script>
  var {{ content.domain| append: content.title | remove: ' ' }} = new mdc.dialog.MDCDialog(document.querySelector('#{{ content.domain | append: '-' | append: content.title | slugify }}--dialog'));
  document.querySelector('#{{ content.domain | append: '-' | append: content.title | slugify }}--dialog-activation').addEventListener('click', function (evt) {
    {{ content.domain| append: content.title | remove: ' '  }}.lastFocusedTarget = evt.target;
    {{ content.domain| append: content.title | remove: ' '  }}.open();
  });
</script>
