<nav id="{{ page.subject | slugify }}" class="mdc-drawer mdc-drawer--permanent mdc-typography">
  <div class="mdc-drawer__content mdc-drawer__content--align-start">
    <nav class="mdc-list">
      <a class="mdc-list-item" href="{{ site.url }}" title="{{ site.title }}">
        <img class="mdc-list-item__graphic" src="/assets/img/icon/feather.svg" aria-hidden="true"/>
      </a>
      <button id="zoom_in" type="button" class="mdc-list-item" aria-label="Enlarge text size" title="Enlarge text size">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">zoom_in</i>
      </button>
      <button id="zoom_out" type="button" class="mdc-list-item" aria-label="Reduce text size" title="Reduce text size">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">zoom_out</i>
      </button>
    </nav>
  </div>
  <div class="mdc-drawer__content mdc-drawer__content--align-end">
    <nav class="mdc-list">
      {% assign items = site.pages | where_exp: "item", "item.category == 'index'" %}

      {%- for item in items -%}
      <a href="{{ item.url }}" class="mdc-list-item" aria-label="{{ item.title }}" title="{{ item.title }}">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">{{ item.icon }}</i>
      </a>
      {%- endfor -%}

    </nav>
  </div>
</nav>
