<section>
  <nav id="dynamic-tab-bar" class="mdc-tab-bar" role="tablist">
    <a class="mdc-tab mdc-tab--active" href="#classroom"
       role="tab" aria-controls="classroom">Classroom</a>
    <a class="mdc-tab" href="#ged"
       role="tab" aria-controls="ged">GED</a>
    <a class="mdc-tab" href="#hiset"
       role="tab" aria-controls="hiset">HiSET</a>
    <a class="mdc-tab" href="#tasc"
       role="tab" aria-controls="tasc">TASC</a>
    <span class="mdc-tab-bar__indicator"></span>
  </nav>
</section>
