<!-- creates loop for subject_menu by subject > category -->
{% assign subject_menu = site.pages | where_exp: "item", "item.category == 'index'" %}

<nav id="{{ page.layout }}" class="nav-extended">
  <div class="nav-wrapper">
    <ul class="right hide-on-small-only">

      {% for subject in subject_menu %}
      <li class="{% if subject.url == page.url %}active{% endif %}"><a href="{{ subject.url }}"><i class="material-icons">{{ subject.icon }}</i></a></li>
      {% endfor %}

    </ul>
    <h1>{{ page.title }}</h1>
    <ul class="tabs tabs-transparent">
      <li class="tab"><a href="#classroom">Classroom</a></li>
      <li class="tab"><a href="#ged">GED</a></li>
      <li class="tab"><a href="#hiset">HiSET</a></li>
      <li class="tab"><a href="#tasc">TASC</a></li>
    </ul>
  </div>
</nav>
