<!-- button wrapper -->
<div class="section right-align hide">
  <!-- Dropdown Trigger -->
  <a class="btn btn-large dropdown-button waves-effect waves-light" href="" data-activates="exams">hse exams<i class="material-icons right">expand_more</i></a>
  <!-- Dropdown Structure -->
  <ul id="exams" class="dropdown-content">
    <li><a href="#!" class="waves-effect waves-dark">GED&trade; Exam</a></li>
    <li><a href="#!" class="waves-effect waves-dark">HiSET&trade; Exam</a></li>
    <li><a href="#!" class="waves-effect waves-dark">TASC&trade; Exam</a></li>
  </ul>
  <!-- Dropdown Trigger -->
  <a class="btn btn-large dropdown-button waves-effect waves-light" href="" data-activates="study">study materials<i class="material-icons right">expand_more</i></a>
  <!-- Dropdown Structure -->
  <ul id="study" class="dropdown-content">
    <li><a href="#!" class="waves-effect waves-dark">mathematics</a></li>
    <li><a href="#!" class="waves-effect waves-dark">reading</a></li>
    <li><a href="#!" class="waves-effect waves-dark">science</a></li>
    <li><a href="#!" class="waves-effect waves-dark">social studies</a></li>
    <li><a href="#!" class="waves-effect waves-dark">writing</a></li>
  </ul>
</div>