<!-- side-nav-main -->
<ul id="main-menu" class="side-nav">
  <span class="side-nav-main">
    <li class="{{ page.color }} white-text center-align">
      <strong><a href="/">{{ site.title | upcase }}</a></strong>
    </li>

    {% for p in site.pages %}
    {% if p.title != null %}
    <li class="{% if p.url == page.url %}active{% endif %}">
      <a href="{{ p.url }}">
        {{ p.title | upcase }}
        <i class="material-icons right">chevron_right</i>
      </a>
    </li>

    {% endif %}
    {% endfor %}
  </span>
  <footer class="footer-copyright center-align">
    <span>&copy;</span>
    <time datetime="{{ site.time | date: '%Y' }}">{{ site.time | date: '%Y' }}</time>
    <span>{{ page.author | upcase }}</span>
  </footer>
</ul>

<!-- side-nav-collection -->
{% if page.layout == 'collection' %}

{% assign x = site.[page.collection] | group_by: 'category' | sort: 'name' %}

{% for a_grouped in x %}

<ul id="{{ a_grouped.name }}-menu" class="side-nav">
  <span class="side-nav-main">
    <li class="{{ page.color }} white-text center-align">
      <strong><a href="/">{{ site.title | upcase }}</a></strong>
    </li>

    {% for p in a_grouped.items %}
    {% if p.url contains 'index' %}

    {% capture url %}{{ p.url | remove: 'index' }}{% endcapture %}
    {% capture toc %}{{ url | split: '/' | last }}{% endcapture %}

    <li class="{% if p.url == page.url %}active{% endif %}">
      <a href="{{ url }}" class="truncate">
        {{ toc | replace: '-',' ' | upcase }} : {{ p.title | upcase }}
        <!-- <i class="material-icons right">chevron_right</i> -->
      </a>
    </li>

    {% endif %}
    {% endfor %}
  </span>
  <footer class="footer-copyright center-align">
    <span>&copy;</span>
    <time datetime="{{ site.time | date: '%Y' }}">{{ site.time | date: '%Y' }}</time>
    <span>{{ page.author | upcase }}</span>
  </footer>
</ul>
{% endfor %}
{% endif %}

<!-- side-nav-curriculum -->
{% if page.side-nav == 'curriculum' %}

<ul id="{{ page.side-nav }}-menu" class="side-nav fixed">
  <span class="side-nav-main">
    <li class="{{ page.color }} white-text center-align">
      <strong><a href="/">{{ site.title | upcase }}</a></strong>
    </li>
    
    {% for doc in page.docs %}

    <li class="{% if p.url == page.url %}active{% endif %}">
      <a href="{{ doc | prepend: page.repository }}" target="#iframe" class="truncate">{{ doc }}
        <!-- <i class="material-icons right">chevron_right</i> -->
      </a>
    </li>
    
    {% endfor %}
  </span>
  <footer class="footer-copyright center-align">
    <span>&copy;</span>
    <time datetime="{{ site.time | date: '%Y' }}">{{ site.time | date: '%Y' }}</time>
    <span>{{ page.author | upcase }}</span>
  </footer>
</ul>
{% endif %}