<!-- side-nav-main -->
<ul id="main-menu" class="side-nav">
  <span class="side-nav-main">
    <li class="{{ page.color }} white-text center-align">
      <strong><a href="/">{{ site.title | upcase }}</a></strong>
    </li>

    {% for p in site.pages %}
    {% if p.title != null %}
    <li class="{% if p.url == page.url %}active{% endif %}">
      <a href="{{ p.url }}">
        {{ p.title | upcase }}
        <i class="material-icons right">chevron_right</i>
      </a>
    </li>

    {% endif %}
    {% endfor %}
  </span>
  <footer class="footer-copyright center-align">
    <span>&copy;</span>
    <time datetime="{{ site.time | date: '%Y' }}">{{ site.time | date: '%Y' }}</time>
    <span>{{ page.author | upcase }}</span>
  </footer>
</ul>