<div class="mdc-fab__container">
  <button onclick="javascript:window.print()" class="mdc-fab material-icons" aria-label="Print" data-mdc-auto-init="MDCRipple">
    <span class="mdc-fab__icon" aria-hidden="true">print</span>
  </button>

  {%- comment -%}
  <button id="zoom_in" class="mdc-fab" aria-label="enlarge text">
    <span class="mdc-fab__icon material-icons" aria-hidden="true">zoom_in</span>
  </button>
  <button id="zoom_out" class="mdc-fab" aria-label="reduce text">
    <span class="mdc-fab__icon material-icons" aria-hidden="true">zoom_out</span>
  </button>
  {%- endcomment -%}
  
</div>
