// blurred glass
// http://cssdeck.com/labs/blurred-glass

#home, main .mdc-card::before {
  background:
    /* top, layered shade */
    linear-gradient(120deg, rgba(0,0,0,.33) 25.3%, rgba(0,0,0,0.163) 25.3%),
    linear-gradient(60deg, rgba(0,0,0,.5) 25.3%, rgba(0,0,0,0.0) 25.3%),
    /* top, layered shade */
    linear-gradient(120deg, rgba(0,0,0,.33) 33.3%, rgba(0,0,0,0.163) 33.3%),
    linear-gradient(60deg, rgba(0,0,0,.5) 33.3%, rgba(0,0,0,0.0) 33.3%),
    /* top, layered shade */
    linear-gradient(120deg, rgba(0,0,0,.33) 41.3%, rgba(0,0,0,0.163) 41.3%),
    linear-gradient(60deg, rgba(0,0,0,.5) 41.3%, rgba(0,0,0,0.0) 41.3%),
    /* bottom, image */
    url(  "/assets/img/denver.jpg") top left no-repeat fixed / cover;

  //  background-position: top left;
  //  background-repeat: no-repeat;
  //  background-attachment: fixed;
  //  background-size: cover;
}

#home {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  display: table; // fallback
  background-color: rgba(0,0,0,0.87); //fallback

  & main {
    // fallback
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    // flex
    display: flex;
    flex-flow: nowrap;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  & main .mdc-card {
    position: relative; // required blurred-glass
    display: inline-flex;
    justify-content: center;
    background-color: rgba(255,255,255,0.125);
    border-top: 8px solid rgba(255,255,255,0.12);

    & .mdc-card__content {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    & h1, .mdc-list-group {
      font-size: 6rem;
      margin: 0.67em;
    }

    & .mdc-list:not(.mdc-list--non-interactive) {
      display: unset;
    }

    & .mdc-list-divider {
      border-bottom-color: rgba(255,255,255,0.12) !important;
    }

    & h1, .mdc-list, .mdc-list-group__subheader, .mdc-list a {
      @include mdc-theme-prop(color, text-primary-on-background, true, false);
    }

    & .mdc-list-item__graphic, .mdc-card__action--icon:not(:disabled) {
      @include mdc-theme-prop(color, text-secondary-on-background, true, false);
    }

    & .mdc-card__action--icon svg {
      height: 24px;
      width: 24px;
    }
  }

  & main .mdc-card::before {
    content: '';
    position: absolute;
    z-index: -1;
    height: 100%;
    top: 0; right: 0; left: 0;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
  }
}

@media (max-width: 839px) {
  #home main .mdc-card {
    min-height: 100%;
    min-width: 100%;

    & .mdc-card__content {
      justify-content: center;
    }

    & h1, .mdc-list-group {
      font-size: 4.5rem;
    }
  }
}

// @media (max-width: 479px)
@media (max-width: 699px) {
  #home main .mdc-card {

    & .mdc-card__content {
      flex-direction: column;
    }

    & h1, .mdc-list-group {
      font-size: 3rem;
    }
  }
}
