#index {

  h2 {
    margin-top: 2em;
    margin-bottom: 1em;
    border-color: rgba(0,0,0,0.12);
    border-bottom-width: 1px;
    border-bottom-style: solid;

    & a {
      color: rgba(0,0,0,0.87);
    }
  }

  // small desktop and up
  @media (min-width: 840px) {
    margin-left: 56px;

    main .mdc-list:not(.mdc-list--non-interactive) {
      display: none;
    }
  }

  // tablet and down
  @media (max-width: 839px) {

    nav.mdc-drawer,
    main .mdc-image-list,
    main .mdc-card__action-buttons > .mdc-card__action--button:not(:first-child) {
      display: none;
    }
  }
}
