// blurred glass
// http://cssdeck.com/labs/blurred-glass

#home, main .mdc-card:before {
  background:
    /* top, layered shade */
    linear-gradient(120deg, rgba(0,0,0,.33) 25.3%, rgba(0,0,0,0.163) 25.3%),
    linear-gradient(60deg, rgba(0,0,0,.5) 25.3%, rgba(0,0,0,0.0) 25.3%),
    /* top, layered shade */
    linear-gradient(120deg, rgba(0,0,0,.33) 33.3%, rgba(0,0,0,0.163) 33.3%),
    linear-gradient(60deg, rgba(0,0,0,.5) 33.3%, rgba(0,0,0,0.0) 33.3%),
    /* top, layered shade */
    linear-gradient(120deg, rgba(0,0,0,.33) 41.3%, rgba(0,0,0,0.163) 41.3%),
    linear-gradient(60deg, rgba(0,0,0,.5) 41.3%, rgba(0,0,0,0.0) 41.3%),
    /* bottom, image */
    url(  "/assets/img/denver.jpg") no-repeat 0 0 fixed / cover;
}

#home {
  & main {
    display: flex;
    flex-flow: nowrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  & main .mdc-card {
    display: inline-block;
    background-color: rgba(255,255,255,0.4);
    position: relative;
    & h1, .mdc-list-group {
      font-size: 6rem;
      margin: 0.67em;
    }
  }
  & main .mdc-card:before {
    content: '';
    position: absolute;
    z-index: -1;
    height: 100%;
    top: 0; right: 0; left: 0;
    filter: blur(7px);
    -webkit-filter: blur(7px);
    -moz-filter: blur(7px);
    -o-filter: blur(7px);
    -ms-filter: blur(7px);
  }
}
