#library {

  & h2 {
    margin-top: 0;
    @include mdc-typography(headline5);
    font-size: 1.5rem / 1rem * 100%;
    line-height: normal;
  }

  & .markdown-body.sections {
    counter-reset: paragraph;

    & p {
    position: relative;

      &::before {
        position: absolute;
        margin-left: -2em;
        @include mdc-theme-prop(color, text-secondary-on-background, true, false);
        counter-increment: paragraph;
        content: counter(paragraph);
      }
    }
  }

  & .mdc-card {
    margin: 1em 0;
    @include mdc-card-fill-color(transparent);
    @include mdc-card-outline(primary, 1px);
    border-color: var(--mdc-theme-primary);
  }

  & .mdc-card__primary {
    padding: 1rem;
  }

  & .mdc-card__primary-overline {
    display: block;
    @include mdc-typography(overline);
    @include mdc-theme-prop(color, text-secondary-on-background, true, false);
    font-size: 0.75rem / 1rem * 100%;
    line-height: normal;
  }

  & .mdc-card__primary-headline {
    display: block;
    padding-top: 8px;
    padding-bottom: 1em;
    @include mdc-typography(headline6);
    @include mdc-theme-prop(color, text-primary-on-background, true, false);
    font-size: 1.25rem / 1rem * 100%;
    line-height: normal;
  }

  & .mdc-card__primary-body{
    @include mdc-theme-prop(color, text-primary-on-background, true, false);
    margin-bottom: 0;
  }

  ~ .mdc-fab__container {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
  }

  // large desktop
  @media (min-width: 1440px) {

    .markdown-body {
      font-size: 30px;
    }
  }

  // desktop
  @media (max-width: 1439px) and (min-width: 1024px) {

    .markdown-body {
      font-size: 24px;
    }

    ~ .mdc-fab__container {
      bottom: 1.5rem;
      right: 1.5rem;
    }
  }

  // small desktop
  @media (max-width: 1023px) and (min-width: 840px) {

    .markdown-body {
      font-size: 20px;
    }
  }

  // tablet
  @media (max-width: 839px) and (min-width: 480px) {

  }

  // phone
  @media (max-width: 479px) {

  }
}
