#library {

  & main {
    counter-reset: paragraph;

    & h2 {
      @include mdc-typography(headline5);
    }

    & h3, h4, h5, h6 {
      @include mdc-typography(headline6);
    }

    & article .markdown-body > p {
      position: relative;

      &.img::before {
        counter-increment: none;
        content: "";
      }

      &::before {
        counter-increment: paragraph;
        content: counter(paragraph);
        position: absolute;
        margin-left: -2em;
        @include mdc-theme-prop(color, text-secondary-on-background, true, false);
      }
    }

    & article .markdown-body > .mdc-card {
      padding: 1em;
      background-color: #f5f5f5; // Gray 100
    }
  }

  & .mdc-fab__container {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
  }

  // large desktop
  @media (min-width: 1440px) {

    article .markdown-body {
      font-size: 30px;
    }
  }

  // desktop
  @media (min-width: 1024px) {

    article .markdown-body {
      font-size: 24px;
    }

    .mdc-fab__container {
      bottom: 1.5rem;
      right: 1.5rem;
    }
  }

  // small desktop
  @media (max-width: 1023px) and (min-width: 840px) {

    article .markdown-body {
      font-size: 20px;
    }
  }

  // tablet
  @media (max-width: 839px) and (min-width: 480px) {

  }

  // phone
  @media (max-width: 479px) {

  }
}
