// large desktop
@media (min-width: 1440px) {

  .mdc-image-list {

    & .mdc-image-list__item {
      width: calc(100% / 5 - 32px);
      margin: 16px;
      border-radius: 8px;

      & .mdc-image-list__image {
        height: 100%;
        border-radius: 8px;
      }

      & .mdc-image-list__supporting {
        border-radius: 0 0 8px 8px;
      }
    }
  }
}

// desktop
@media (max-width: 1439px) and (min-width: 1024px) {

  .mdc-image-list {

    & .mdc-image-list__item {
      width: calc(100% / 5 - 16px);
      margin: 8px;
      border-radius: 8px;

      & .mdc-image-list__image {
        height: 100%;
        border-radius: 8px;
      }

      & .mdc-image-list__supporting {
        border-radius: 0 0 8px 8px;
      }
    }
  }
}

// small desktop
@media (max-width: 1023px) and (min-width: 840px) {

  .mdc-image-list {

    & .mdc-image-list__item {
      width: calc(100% / 4 - 16px);
      margin: 8px;
      border-radius: 8px;

      & .mdc-image-list__image {
        height: 100%;
        border-radius: 8px;
      }

      & .mdc-image-list__supporting {
        border-radius: 0 0 8px 8px;
      }
    }
  }
}
