.panel:not(.active) {
  display: none;
}

.dots {
  display: table;
  height: 48px;
  margin: 0 auto;
  list-style-type: none;

  li {
    display: inline-block;
  }

  .dot {
    display: inline-block;
    margin: 16px 24px;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    @include mdc-theme-prop(background-color, text-secondary-on-background, true, false);

    &.active {
      @include mdc-theme-prop(background-color, primary, true, false);
    }
  }
}
