---
  # material-components-web v0.36.0
  # https://github.com/material-components/material-components-web/tree/master/packages
---
@charset "UTF-8";
@import "gfm";
@import "home";
@import "mdc-drawer--rail";
@import "mdc-layout-grid";
@import "mdc-tabs";
@import "section";

html {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  //overflow: hidden; // for mdc-drawer--rail { position: absolute }

  &.mdc-typography {
    color: var(--mdc-theme-text-primary-on-background,rgba(0,0,0,0.87));
  }
}

#home main{
  margin-left: initial;
  height: initial;
  overflow: initial;
}

main {
  margin-left: 56px; // mdc-drawer--rail
  //height: 100%; // for mdc-drawer--rail { position: absolute }
  //overflow: auto; // for mdc-drawer--rail { position: absolute }
}

:root {
  --mdc-theme-primary: #311b92;
  --mdc-theme-secondary: #d81b60;
}

b, strong {
  font-weight: 500;
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  font-size: small;
  top: -0.8em;
}

sub {
  top: 0.2em;
}

@media (max-width: 839px) {
  .mdc-typography--headline1 {
    font-size: 4.5rem;
  }
}
