---
  # material-components-web v0.36.0
  # https://github.com/material-components/material-components-web/tree/master/packages
---
@charset "UTF-8";

// layout scss
@import "home";
@import "index";
@import "section";

// global scss
@import "gfm";
@import "mdc-drawer--rail";
@import "mdc-layout-grid";
@import "mdc-tab-bar";

html {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  //display: flex;
  height: 100vh;

  &.mdc-typography {
    color: var(--mdc-theme-text-primary-on-background,rgba(0,0,0,0.87));
  }
}

main {
  //overflow: auto;
  //height: 100%;
}

:root {
  --mdc-theme-primary: #311b92;
  --mdc-theme-secondary: #d81b60;
}

b, strong {
  font-weight: 500;
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  font-size: small;
  top: -0.8em;
}

sub {
  top: 0.2em;
}

@media (max-width: 839px) {
  .mdc-typography--headline1 {
    font-size: 4.5rem;
  }
}
