---
  # material-components-web v0.36.0
  # https://github.com/material-components/material-components-web/tree/master/packages
---
@charset "UTF-8";

// layout scss
// @import "home";
// @import "index";
// @import "section";

// global scss
// @import "gfm";
// @import "mdc-drawer--rail";
// @import "mdc-image-list";
// @import "mdc-layout-grid";
// @import "mdc-tab-bar";

html {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  //display: flex;
  height: 100vh;

  &.mdc-typography {
    color: var(--mdc-theme-text-primary-on-background,rgba(0,0,0,0.87));
  }
}

main {
  //overflow: auto;
  //height: 100%;
}

:root {
  --mdc-theme-primary: #e91e63;
  --mdc-theme-secondary: #311b92;
}

b, strong {
  font-weight: 500;
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  font-size: small;
  top: -0.8em;
}

sub {
  top: 0.2em;
}

// tablet and down
@media (max-width: 839px) {
  .mdc-typography--headline1 {
    font-size: 4.5rem;
  }
}

// default subject colors
#mathematics {
  background-color: #FF9E80; // Deep Orange A100
}

#reading {
  background-color: #82B1FF; // Blue A100
}

#science {
  background-color: #B388FF; // Deep Purple A100
}

#social-studies {
  background-color: #B9F6CA; // Green A100
}

#writing {
  background-color: #FF8A80; // Red A100
}
