---
  # print stylesheet
---
@page {
  margin: 1in;
}

@media print {
  nav, aside, footer, .mdc-button, .mdc-fab__container {
    display: none;
    visibility: hidden;
  }

  main, article {
    display: block !important;
    overflow: visible !important;
  }

  main, .page-content, .mdc-layout-grid, .mdc-layout-grid__inner {
    margin: 0px;
    padding: 0px;
  }

  article {
    margin-left: -56px; // for nav
    padding-left: 2em; // for paragraph count
    color: var(--mdc-theme-text-primary-on-background,rgba(0,0,0,0.87));

    & .mdc-typography--headline1 {
      margin-top: 0px;
      font-size: 18pt;
      font-weight: 500;
      line-height: 1.3;
    }

    & .markdown-body {

      & h2, h3, h4, h5, h6 {
        font-size: 14pt;
        font-weight: 500;
        line-height: 1.3;
        page-break-after: avoid;
        break-after: avoid;
      }

      & p, .mdc-card {
        font-size: 11.5pt;
        line-height: 1.3;
        //text-align: justify;
        page-break-inside: avoid;
        break-inside: avoid;

        &:before {
          color: var(--mdc-theme-text-hint-on-background,rgba(0,0,0,0.38));
        }
      }

      & b, strong {
        font-weight: 500;
      }

      & img, table {
        page-break-inside: avoid;
        break-inside: avoid;
      }
    }
  }
}
