<footer class="page-footer {{ page.color }} darken-3">

  {% unless page.url == '/' or page.layout == 'iframe' %}
  <div class="row">
    <span class="col s12">
      <span class="col s12 m8">
        {% if page.source %}
        <blockquote class="grey-text text-lighten-2 truncate">

          {% for source in page.source %}
          {{ "source: " | downcase }}<a href="{{ source }}">{{ source }}</a><br />
          {% endfor %}

          {% for source_pdf in page.pdf %}
          {{ "source pdf: " | downcase }}<a href="{{ source_pdf }}">{{ source_pdf }}</a><br />
          {% endfor %}

          {% if page.date != null %}
          <label>{{ page.date | date_to_long_string | prepend: "last updated: " }}</label>
          {% endif %}

        </blockquote>
        {% else %}
        <h5 class="white-text">{{ site.title | titleize }}</h5>
        <blockquote class="grey-text text-lighten-2">{{ site.description | capitalize }}</blockquote>
        {% endif %}
      </span>
      <div class="col s12 m3 offset-m1">
        <h5 class="white-text">{{ 'stay connected' | titleize }}</h5>
        <ul class="social_media">
          {% for media in site.social %}
          <li class="left">
            <a href="{{ media.url }}" class="social-btn icon-{{ media.name }} waves-effect waves-light tooltipped" data-position="bottom" data-tooltip="{{ media.tooltip }}" target="_blank">
              <span class="icon-text">{{ media.name }}</span>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </span>
  </div>
  {% endunless %}
  <div class="footer-copyright {{ page.color }} darken-4">
    <div class="row">
      <span class="col s12">
        <span>&copy;</span>
        <time datetime="{{ site.time | date: '%Y' }}">{{ site.time | date: '%Y' }}</time>
        <span>{{ page.author | upcase }}</span>
      </span>
    </div>
  </div>
</footer>