{% for a in site.collections %}
{% if a.category == p.category %}
<div class="col s12 m6 l4">
  <div class="collection hoverable">

    <!-- constructed anchor link -->
    <a href="{{ a.label | prepend: a.permalink | remove: ':collection/:path' }}">

      {% if a.image_path %}
      <div class="collection-item center-align">
        <img src="{{ a.image_path }}" class="responsive-img" style="height:84px" />
      </div>

      {% elsif a.icon %}
      <div class="collection-item {{ a.color }} center-align">
        <i class="material-icons" style="font-size:84px; color:ghostwhite;">{{ a.icon }}</i>
      </div>

      {% endif %}

      {% if a.tagline %}
      <div class="collection-item {{ page.color }}" style="color:ghostwhite;">
        {{ a.tagline | upcase }}
      </div>

      {% elsif a.label %}
      <div class="collection-item {{ page.color }} center-align" style="color:ghostwhite;">
        {{ a.label | upcase }}
      </div>

      {% endif %}
    </a>
  </div>
</div>

{% endif %}
{% endfor %}