<!-- side-nav-main -->
{% assign x = site.pages | sort: 'path' %}

<ul id="main-menu" class="side-nav">
  <li>
    <div class="userView">
      <img class="background" src="{{ "/assets/img/denver.jpg" |  prepend: site.baseurl }}">
      <a href="#!user">
        <img class="circle" src="{{ "/assets/img/icon.png" |  prepend: site.baseurl }}">
      </a>
      <a href="#!name">
        <span class="white-text name">{{ site.title | upcase}}</span>
      </a>
      <a href="mailto:{{ site.email }}">
        <span class="white-text email">{{ site.email }}</span>
      </a>
    </div>
  </li>
  <span class="side-nav-main">

    {% for p in x %}
    {% if p.title != null %}
    <li class="{% if p.url == page.url %}active{% endif %}">
      <a href="{{ p.url }}">
        {{ p.title | upcase }}
      </a>
    </li>

    {% endif %}
    {% endfor %}
  </span>
  <footer class="footer-copyright grey lighten-3 center-align">
    <span>&copy;</span>
    <time datetime="{{ site.time | date: '%Y' }}">{{ site.time | date: '%Y' }}</time>
    <span>{{ page.author | upcase }}</span>
  </footer>
</ul>

<!-- side-nav-collection -->
{% if page.layout == 'collection' %}

{% assign x = site.[page.collection] | group_by: 'category' | sort: 'name' %}

{% for a_grouped in x %}

<ul id="{{ a_grouped.name }}-menu" class="side-nav">
  <li>
    <div class="userView">
      <img class="background" src="{{ "/assets/img/denver.jpg" |  prepend: site.baseurl }}">
      <a href="#!user">
        <img class="circle" src="{{ "/assets/img/icon.png" |  prepend: site.baseurl }}">
      </a>
      <a href="#!name">
        <span class="white-text name">{{ site.title | upcase}}</span>
      </a>
      <a href="mailto:{{ site.email }}">
        <span class="white-text email">{{ site.email }}</span>
      </a>
    </div>
  </li>
  <span class="side-nav-main">

    {% for p in a_grouped.items %}
    {% if p.url contains 'index' %}

    {% capture url %}{{ p.url | remove: 'index' }}{% endcapture %}
    {% capture toc %}{{ url | split: '/' | last }}{% endcapture %}

    <li class="{% if p.url == page.url %}active{% endif %}">
      <a href="{{ url }}" class="truncate">
        {{ toc | replace: '-',' ' | upcase }} : {{ p.title | upcase }}
      </a>
    </li>

    {% endif %}
    {% endfor %}
  </span>
  <footer class="footer-copyright {{ page.color }} center-align">
    <span>&copy;</span>
    <time datetime="{{ site.time | date: '%Y' }}">{{ site.time | date: '%Y' }}</time>
    <span>{{ page.author | upcase }}</span>
  </footer>
</ul>
{% endfor %}
{% endif %}

<!-- side-nav-curriculum -->
{% if page.side-nav == 'curriculum' %}

<ul id="{{ page.side-nav }}-menu" class="side-nav fixed">
  <li>
    <div class="userView">
      <img class="background" src="{{ "/assets/img/denver.jpg" |  prepend: site.baseurl }}">
      <a href="#!user">
        <img class="circle" src="{{ "/assets/img/icon.png" |  prepend: site.baseurl }}">
      </a>
      <a href="#!name">
        <span class="white-text name">{{ site.title | upcase}}</span>
      </a>
      <a href="mailto:{{ site.email }}">
        <span class="white-text email">{{ site.email }}</span>
      </a>
    </div>
  </li>
  <span class="side-nav-main">

    {% for doc in page.docs %}

    <li class="{% if p.url == page.url %}active{% endif %}">
      <a href="{{ doc.url | prepend: page.repository }}" target="iframe" class="truncate">{{ doc.title }}
      </a>
    </li>
    
    {% endfor %}
  </span>
  <footer class="footer-copyright {{ page.color }} center-align">
    <span>&copy;</span>
    <time datetime="{{ site.time | date: '%Y' }}">{{ site.time | date: '%Y' }}</time>
    <span>{{ page.author | upcase }}</span>
  </footer>
</ul>
{% endif %}