---
layout: default
---
<article class="page section">
  <div class="container">

    <div class="flow-text">
      <span class="page-content">
        {{ content }}
      </span>
    </div>

  </div>

  {% assign a = page.collection %}
  {% assign b = page.category %}
  
  <div class="valign-wrapper">
    <div class="container">
      <div class="row">
        <h2 class="sub page-title grey-text text-darken-2 center-align">Table of Contents</h2>
        <ul class="collection">

          {% for p in site.[a] %}
          {% if p.category == b and p.url contains 'index' %}

          {% capture url %}{{ p.url | remove: 'index' }}{% endcapture %}
          {% capture toc %}{{ url | split: '/' | last }}{% endcapture %}

          <li class="collection-item avatar">
            <i class="material-icons circle {{ page.color }}">filter_{{ toc | remove: 'chapter-' }}</i>
            <a href="{{ url | prepend: site.baseurl }}" class="title">
              {{ toc | replace: '-',' ' | titleize }} : {{ p.title }}</a>
            <p>{{ p.excerpt }}</p>
          </li>

          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</article>