---
layout: default
---
<article class="page section">
  <div class="container">

    <div class="flow-text">
      <span class="page-content">
        {{ content }}
      </span>
    </div>

  </div>

  {% assign a = site.[page.collection] | group_by: 'category' | sort: 'name' %}
  
  <div class="valign-wrapper">
    <div class="container">
      <div class="row">

        {% for b in a %}
        
        {% capture name %}{{ b.name }}{% endcapture %}
        
        {% for p in b.items limit:1 reversed %}
        {% if p.image_path != null %}
        
        <div class="col s6 m4">
          <div class="card hoverable">
            <a href="#!" data-activates="{{ name }}-menu" class="button-collapse">
              <div class="card-image">
                <img src="{{ p.image_path }}" />
              </div>
            </a>
          </div>
        </div>

        {% endif %}
        {% endfor %}
        {% endfor %}
      </div>
    </div>
  </div>
</article>