---
layout: default
---
<article class="page section">
  <div class="container">

    <div class="flow-text">
      <span class="page-content">
        {{ content }}
      </span>
    </div>

    {% assign a = page.collection %}
    {% assign x = site.[page.collection] | group_by: 'category' | sort: 'name' %}

    <div class="row">

      {% for a_grouped in x %}

      {% capture name %}{{ a_grouped.name }}{% endcapture %}

      {% for p in a_grouped.items reversed limit: 1 %}
      {% if p.image_path != null %}

      <div class="col s6 m4">
        <div class="card hoverable">
          <a href="#!" data-activates="{{ name }}-menu" class="button-collapse">
            <div class="card-image">
              <img src="{{ p.image_path }}" />
            </div>
          </a>
        </div>
      </div>

      {% endif %}
      {% endfor %}
      {% endfor %}
    </div>

    <!-- data.materials.[page.collection] -->
    {% if site.data.materials[a] %}
    <div class="collection with-header">

      {% for data in site.data.materials[a] %}
      <div class="collection-header {{ page.color }} white-text">
        {{ data.title | upcase }}
      </div>

      {% for q in data.docs %}
      <div class="collection-item avatar">
        {% if q.image_path %}
        <img src="{{ q.image_path | prepend: "/assets/img/" | prepend: site.baseurl | prepend: site.url }}" class="circle" />
        {% else %}
        <i class="material-icons circle {{ page.color }}">{{ page.icon }}</i>
        {% endif %}
        <a href="{{ q.url }}" target="_blank">{{ q.title }}</a>
        <p>{{ q.description }}</p>
      </div>

      {% endfor %}
      <div class="collection-item {{ page.color }} darken-3 white-text"></div>
      {% endfor %}
    </div>
    {% endif %}

  </div>
</article>