<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body id="{{ page.subject | slugify }}">

    <main class="page-content" aria-label="Content">

      {{ content }}

    </main>


    <!-- creates loop for subject_menu by subject > category -->
    {% assign subject_menu = site.pages | where_exp: "item", "item.category == 'index'" %}
    <!-- creates loop for hse_menu by subject > category -->
    {% assign hse_menu = site.chapters | where_exp: "item", "item.subject == 'HSE'" %}


    {% unless page.layout == "chapter" %}
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col s12 m5">
            <h4>About HSE</h4>
              <div class="collection">

                {% for hse in hse_menu %}
                <a href="{{ hse.url }}" class="collection-item{% if hse.url == page.url %} active{% endif %}"><i class="material-icons left">{{ hse.icon }}</i>{{ hse.title }}</a>
                {% endfor %}

            </div>
          </div>
          <div class="col s12 m5 offset-m1">
            <h4>Subject Resources</h4>
            <div class="collection">

              {% for subject in subject_menu %}
              <a href="{{ subject.url }}" class="collection-item{% if subject.url == page.url %} active{% endif %}"><i class="material-icons left">{{ subject.icon }}</i>{{ subject.title }}</a>
              {% endfor %}


            </div>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="footer-wrapper">
          &copy; {{ site.time | date: "%Y" }}, Jason Kilpatrick, All Rights Reserved
          <div class="right">

            {% for media in site.social_media %}
            <a href="{{ media[1] }}" target="_blank">
              <svg>
                <use xlink:href="/assets/img/icons.svg#{{ media[0] }}" />
              </svg>
              <span class="hide">{{ media[0] }}</span>
            </a>
            {% endfor %}

          </div>
        </div>
      </div>
    </footer>
    {% endunless %}

    {% include foot.html %}

  </body>
</html>
