---
layout: default

list_header: "choose your subject"
subjects:
  - title: Mathematics
    icon: widgets
  - title: Reading
    icon: book
  - title: Science
    icon: lightbulb_outline
  - title: Social Studies
    icon: account_balance
  - title: Writing
    icon: edit
---

<main class="valign-wrapper">
  <span class="container">
    
    <div class="section right-align">
      <!-- dropdown button -->    
      <a class="btn-large dropdown-button" href="" data-activates="{{ 'subjects' }}">
        {{ layout.list_header | titleize }}
        <i class="material-icons right">expand_more</i>
      </a>
      <!-- dropdown -->
      <ul id="{{ 'subjects' }}" class="dropdown-content">
        {% for subject in layout.subjects %}
        <li>
          <a href="" data-activities="{{ subject.title }}" class="collection-item waves-effect effect-dark">
            {{ subject.title | titleize }}
            <i class="material-icons right">{{ subject.icon }}</i>
          </a>
        </li>
        {% endfor %}
      </ul>      
    </div>
    
    <header class="section">
      <h1 class="title grey-text text-lighten-3">{{ page.title }}</h1>
    </header>
    
  </span>
</main>