<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

{%- include head.html -%}

<body id="home" class="mdc-typography">

  <main>
    <div class="mdc-card">
      <div class="mdc-card__content">
        <h1 class="mdc-typography--headline1">Welcome</h1>
        <div class="mdc-list-group">
          <h2 class="mdc-list-group__subheader">Where should we begin?</h2>
          <nav class="mdc-list mdc-list--avatar-list" aria-orientation="vertical">

            <!-- creates loop for subject_menu by subject > category -->
            {% assign subject_menu = site.pages | where_exp: "item", "item.category == 'index'" %}

            {% for item in subject_menu %}
            <a href="{{ item.url }}" class="mdc-list-item {%- if item.url == page.url %} mdc-list-item--activated {%- endif -%}">
              <span class="mdc-list-item__graphic material-icons" aria-hidden="true">{{ item.icon }}</span>
              <span class="mdc-list-item__text">{{ item.title }}</span>
            </a>
            {% endfor %}

          </nav>
        </div>
      </div>
      <hr class="mdc-list-divider">
      <div class="mdc-card__actions">
        <div class="mdc-card__action-icons">

          {%- for media in site.social_media -%}
          <a href="{{ media[1] }}"  target="_blank" rel="noopener" class="mdc-icon-button mdc-card__action mdc-card__action--icon" title="{{ media[0] }}">
            <svg><use xlink:href="/assets/img/icons.svg#{{ media[0] }}" /></svg>
          </a>
          {%- endfor -%}

        </div>
      </div>
    </div>
  </main>

</body>

</html>
