<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

{%- include head.html -%}

<body class="mdc-typography">

  <main class="page-content" aria-label="Content">
    <header>
      <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell--span-2">
            <!-- empty -->
          </div>
          <div class="mdc-layout-grid__cell--span-6">
            <h1 class="mdc-typography--headline1">{{ page.title }}</h1>
          </div>
        </div>
      </div>
    </header>
    <section id="classroom">
      <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell--span-2">
            <!-- empty -->
          </div>
          <div class="mdc-layout-grid__cell--span-6">
            <div class="markdown-body">
              <!-- creates loop for subject_data by subject -->
              {%- assign subject_data = site.data.external_links | where_exp: "item", "item.subject == page.subject" -%}
              {%- for data in subject_data -%}

              <article>
                <h2 id="online-practice">Online Practice</h2>
                <nav class="mdc-list mdc-list--two-line mdc-list--avatar-list" aria-orientation="vertical">

                  {%- for cbt in data.cbt -%}
                  <a href="{{ cbt.url }}" target="_blank" class="mdc-list-item">
                    <img src="/assets/img/avatars/{{ cbt.avatar }}" alt="logo" class="mdc-list-item__graphic" />
                    <span class="mdc-list-item__text">{{ cbt.category }}
                      <span class="mdc-list-item__secondary-text">{{ cbt.excerpt }}
                      </span>
                    </span>
                    {% if cbt.badge == true %}<i class="mdc-list-item__meta material-icons">new_releases</i>{% endif %}
                  </a>
                  {%- endfor -%}

                </nav>
              </article>

              {%- if data.docs -%}
              <article>
                <h2 id="pdf-sources">PDF Sources</h2>
                <nav class="mdc-list mdc-list--two-line mdc-list--avatar-list" aria-orientation="vertical">

                  {%- for doc in data.docs -%}

                  <a href="{{ doc.url }}" target="_blank" class="mdc-list-item">
                    <img src="/assets/img/thumbnails/{{ doc.cover_image }}" alt="logo" class="mdc-list-item__graphic" />
                    <span class="mdc-list-item__text">{{ doc.category }}
                      <span class="mdc-list-item__secondary-text">{{ doc.excerpt }}
                      </span>
                    </span>
                    {% if doc.badge == true %}<i class="mdc-list-item__meta material-icons">new_releases</i>{% endif %}
                  </a>

                  {%- endfor -%}

                </nav>
              </article>
              {%- endif -%}

              {%- endfor -%}

              {% if page.library %}
              <article>
                <h2 id="library">Library</h2>
                <nav class="mdc-list mdc-list--two-line mdc-list--avatar-list" aria-orientation="vertical">

                  {% for content in page.library %}

                  <a id="{{ content.category | slugify }}-dialog-activation" href="#{{ content.category | slugify }}-dialog" class="mdc-list-item">
                    <img src="/assets/img/thumbnails/{{ content.cover_image }}" alt="logo" class="mdc-list-item__graphic" />
                    <span class="mdc-list-item__text">{{ content.category }}
                      <span class="mdc-list-item__secondary-text">{{ content.excerpt }}
                      </span>
                    </span>
                    {% if doc.badge == true %}<i class="mdc-list-item__meta material-icons">new_releases</i>{% endif %}
                  </a>

                  {% endfor %}

                </nav>
              </article>

              {% endif %}

            </div>
          </div>
        </div>
      </div>
    </section>
  </main>



  {%- comment -%}
  <section id="ged" class="container">
    {% include ged_hiset_tasc_data.html data="ged" title="GED" %}
  </section>

  <section id="hiset" class="container">
    {% include ged_hiset_tasc_data.html data="hiset" title="HiSET" %}
  </section>

  <section id="tasc" class="container">
    {% include ged_hiset_tasc_data.html data="tasc" title="TASC" %}
  </section>
  {%- endcomment -%}



  {%- include foot.html -%}

  {% for content in page.library %} {%- include mdc-dialog--index.html -%} {% endfor %}

</body>

</html>
