<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body id="index" class="mdc-typography">

  <header>
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell">
          <h1 class="mdc-typography--headline1">{{ page.title }}</h1>
        </div>
      </div>
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell">

          {%- include mdc-tab-bar.html -%}

        </div>
      </div>
    </div>
  </header>

  <main class="page-content" aria-label="Content">
    <div for="mdc-tab-bar" class="panels">
      <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell">
            <section id="classroom" class="panel active" role="tabpanel" aria-hidden="false">
              {%- include data--classroom.html -%}
            </section>
            <section id="ged" class="panel" role="tabpanel" aria-hidden="true">
              {%- include data--ged-hiset-tasc.html data="ged" title="GED" -%}
            </section>
            <section id="hiset" class="panel" role="tabpanel" aria-hidden="true">
              {%- include data--ged-hiset-tasc.html data="hiset" title="HiSET" -%}
            </section>
            <section id="tasc" class="panel" role="tabpanel" aria-hidden="true">
              {%- include data--ged-hiset-tasc.html data="tasc" title="TASC" -%}
            </section>
          </div>
        </div>
      </div>
    </div>
  </main>

  <ul class="dots" data-mdc-auto-init="MDCList">
    <a class="dot active" data-trigger="panel-1" href="#panel-1"></a>
    <a class="dot" data-trigger="panel-2" href="#panel-2"></a>
    <a class="dot" data-trigger="panel-3" href="#panel-3"></a>
    <a class="dot" data-trigger="panel-4" href="#panel-4"></a>
  </ul>

  {%- include mdc-drawer--rail.html -%}
  {%- include foot.html -%}
  {%- include javascript/mdc-tab-bar.js -%}

  {% for content in page.library %} {%- include mdc-dialog--index.html -%} {% endfor %}

</body>

</html>
