---
javascript: true
layout: default
---

<!-- creates loop for subject_menu by subject > category -->
{% assign subject_menu = site.pages | where_exp: "item", "item.category == 'index'" %}

<nav id="header-index" class="nav-extended">
  <div class="nav-wrapper">
    <h1>{{ page.title }}</h1>
    <ul class="right hide-on-small-only">

      {% for page_index in subject_menu %}
      <li><a href="{{ page_index.url }}"><i class="material-icons">{{ page_index.icon }}</i></a></li>
      {% endfor %}

    </ul>    
    <ul class="tabs tabs-transparent">
      <li class="tab"><a href="#classroom">Classroom</a></li>
      <li class="tab"><a href="#ged">GED</a></li>
      <li class="tab"><a href="#hiset">HiSET</a></li>
      <li class="tab"><a href="#tasc">TASC</a></li>
    </ul>
  </div>
</nav>


<!-- creates loop for subject_index by subject > category -->
{% capture subject %}{{ page.subject | downcase }}{% endcapture %}
{% assign subject_pages = site.pages | where_exp: "item", "item.subject == page.subject" %}
{% assign subject_index = subject_pages | where_exp: "item", "item.category != 'index'" %}

<!-- creates loop for subject_index by subject > category -->
{% assign subject_data = site.data.external_links | where_exp: "item", "item.subject == page.subject" %}

<section id="classroom" class="container">
  
  {% for data in subject_data %}
  <article class="section">
    <h5 class="grey-text text-darken-1">Online Practice</h5>
    <div class="collection z-depth-1">

      {% for cbt in data.cbt %}
      <a href="{{ cbt.url }}" class="collection-item avatar" target="_blank">
        <img src="/assets/img/avatars/{{ cbt.avatar }}" alt="" class="circle">
        <p class="title">{{ cbt.category }}</p>
        <p class="flow-text truncate">{{ cbt.excerpt }}</p>
        {% if cbt.badge == true %}<i class="material-icons secondary-content">new_releases</i>{% endif %}
      </a>
      {% endfor %}

    </div>
  </article>
  {% endfor %}
  
  <article class="section">
    <h5 class="grey-text text-darken-1">Library</h5>

    {% for page_index in subject_index %}
    <div class="card horizontal small">
      <div class="card-image">
        <img src="/assets/img/thumbnails/{{ page_index.cover_image }}">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <span class="card-title">{{ page_index.category }}</span>
          <p class="flow-text">{{ page_index.excerpt | strip_html | normalize_whitespace }}</p>
        </div>
        <div class="card-action grey lighten-3">
          <a href="{{ page_index.url }}">{{ page_index.url }}</a>
        </div>
      </div>
    </div>
    {% endfor %}

  </article>
</section>

<section id="ged" class="container">
  {% include ged_hiset_tasc_data.html data="ged" title="GED" %}  
</section>

<section id="hiset" class="container">
  {% include ged_hiset_tasc_data.html data="hiset" title="HiSET" %} 
</section>

<section id="tasc" class="container">
  {% include ged_hiset_tasc_data.html data="tasc" title="TASC" %} 
</section>