---
javascript: true
layout: default
---

<!-- creates loop for related_lessons by subject > category > chapter -->
{% capture subject %}{{ page.subject | downcase }}{% endcapture %}
{% assign subject_chapters = site.lessons | where_exp: "lessons", "lessons.subject == page.subject" %}
{% assign subject_category = subject_chapters | where_exp: "lessons", "lessons.category == page.category" %}
{% assign related_lessons = subject_category | where_exp: "lessons", "lessons.chapter == page.chapter" %}

<!-- breadcrumbs -->
{% assign crumbs = page.url | split: '/' %}

<article>
  <header id="header-section" class="z-depth-1">
    <div class="row">
      <div class="col s12 l10 offset-l1">
        <div class="">
          <!--tag-->
          <span class="">{{ page.slug | capitalize | replace: "-", " " }}</span>
          <!--date-->
          <span class="right">{{ page.tag }}</span>
          <hr>
        </div>
        <div class="">
          <h1 class="title">{{ page.title }}</h1>
        </div>
        <nav class="transparent z-depth-0">
          <div class="nav-wrapper">

            {% for crumb in crumbs limit: 3 %}
            {% if forloop.index == 1 %}
            <a class="breadcrumb" href="{% assign crumb_limit = forloop.index %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">{{ "Home" }}</a>
            {% elsif forloop.index == 2 %}
            <a class="breadcrumb" href="{% assign crumb_limit = forloop.index %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">{{ page.subject }}</a>
            {% else %}
            <a class="breadcrumb" href="{% assign crumb_limit = forloop.index %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">{{ page.category }}</a>
            {% endif %}
            {% endfor %}

            <span class="breadcrumb"><a class="dropdown-button btn" href="#" data-activates="related-lessons" data-constrainwidth="false">Chapter {{ page.chapter }}</a></span>
            <ul id="related-lessons" class="dropdown-content">

              {% for lesson in related_lessons %}
              <li class="{% if lesson.url == page.url %}active{% endif %}"><a href="{{ lesson.url }}">{{ lesson.title }}</a></li>
              {% endfor %}

            </ul>
          </div>
        </nav>
      </div>
    </div>
  </header>
  <div class="section">
    <div class="row">
      <div class="col s12 m5 l4 offset-l1">
        <div class="card accent">
          <div class="card-content flow-text casper">

            {% for overview in page.section_overview %}
            <h4>{{ overview.title }}</h4>

            {% if overview.title == "Vocabulary" %}
            <table class="striped">
              {% for content in overview.content %}
              <tr>
                <th>{{ content[0] }}</th>
                <td>{{ content[1] | join: '<br />' }}</td>
              </tr>
              {% endfor %}
            </table>

            {% elsif overview.title == "Standards" %}
            <ul>
              {% for content in overview.content %}
              <li><a href="#{{ content | slugify }}">{{ content | markdownify }}</a></li>
              {% endfor %}
            </ul>

            {% else %}
            <ul>
              {% for content in overview.content %}
              <li>{{ content | markdownify }}</li>
              {% endfor %}
            </ul>
            {% endif %} {% endfor %}

          </div>
          <div class="card-action">
            <a href="#!">{{ page.url | replace: "/lessons","/materials"}}</a>
          </div>
        </div>
      </div>
      <div class="col s12 m7 l6 flow-text casper ">
        {{ content }}
      </div>
    </div>
  </div>
</article>
