<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body id="library" class="mdc-typography">

  {%- include mdc-drawer--rail.html -%}

  <main class="page-content" aria-label="Content">
    <article class="mdc-typography--body1">
      <header>
        <div class="mdc-layout-grid">
          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell">
              <h1 class="mdc-typography--headline1">{{ page.title }}</h1>
            </div>
          </div>
        </div>
      </header>
      <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell">
            <div class="markdown-body">

              {%- if page.collection == "chapters" -%}
                <h2 id="{{ page.slug }}">{{ page.slug | capitalize | replace: "-", " " }}</h2>
              {%- endif -%}

              {{ content }}

            </div>
          </div>
        </div>
      </div>
    </article>
  </main>

  {%- include zoom.html -%}

  {%- include foot.html -%}
  {%- include javascript/zoom.js -%}

</body>

</html>






{%- comment -%}
<section id="{{ page.layout }}" class="row {{ page.category | slugify }}">
  <h1 class="col s12 l10 offset-l1">{{ page.category }}</h1>
  <nav class="col s12 l10 offset-l1 transparent z-depth-0">
    <a href="{{ site.url }}" class="breadcrumb">Home</a>
    <a href="/{{ page.subject | slugify }}" class="breadcrumb">{{ page.subject }}</a>
    <span href="#" class="breadcrumb active">{{ page.title }}</span>
  </nav>
</section>
{%- endcomment -%}

{%- comment -%}
<main class="page-content" aria-label="Content">
  <article id="markdown-body" class="markdown-body">
    <div class="relative">
      <div class="absolute">
        <div class="card accent">
          <div class="card-content flow-text">
            <h2 class="card-title">{{ page.slug | upcase | replace: "-", " " }}</h2>
            {{ content }}
          </div>
          <footer class="card-action">
            {% if page.source %}<a href="{{ page.source }}"  target="_blank" rel="noopener">Source: {{ page.source }}</a>{% else %}Source not available{% endif %}
          </footer>
        </div>
      </div>
    </div>
  </article>
</main>
{%- endcomment -%}


{%- comment -%}

<!-- creates loop for hse_menu by subject  -->
{% assign hse_menu = site.pages | where_exp: "item", "item.subject == 'HSE'" %}
<!-- creates loop for hse_menu by subject  -->
{% assign instructor_menu = site.pages | where_exp: "item", "item.subject == 'Lessons'" | sort: "chapter" %}
<!-- creates loop for subject_menu by subject > category -->
{% assign subject_menu = site.pages | where_exp: "item", "item.category == 'index'" %}

<aside class="section">
  <div class="row">
    <div class="col s12 m4 l3 offset-m8 offset-l8">
      <h6 class="truncate grey-text text-darken-1">About HSE</h6>
      <div class="collection">

        {% for menu in hse_menu %}
        <a href="{{ menu.url }}" class="collection-item truncate waves-effect"><i class="material-icons left">{{ menu.icon }}</i>{{ menu.title }}</a>
        {% endfor %}

      </div>
      <h6 class="truncate grey-text text-darken-1">Instructor Resources</h6>
      <div class="collection">

        {% for menu in instructor_menu %}
        <a href="{{ menu.url }}" class="collection-item truncate waves-effect"><i class="material-icons left">{{ menu.icon }}</i>{{ menu.title }}</a>
        {% endfor %}

      </div>
      <h6 class="truncate grey-text text-darken-1">Subject Resources</h6>
      <div class="collection">

        {% for menu in subject_menu %}
        <a href="{{ menu.url }}" class="collection-item truncate waves-effect"><i class="material-icons left">{{ menu.icon }}</i>{{ menu.title }}</a>
        {% endfor %}

      </div>
    </div>
  </div>
</aside>

{%- endcomment -%}
