---
layout: default
---
<article class="page section">
  <div class="row">

    <div class="col s12 m8 flow-text">

      {% if page.url contains "/materials/" %}
      <p id="time">
        <span class="valign-wrapper {{ page.color }}-text text-accent-4">
          {% assign words = content | number_of_words %}
          <i class="material-icons left">timer</i>{{ "read time: " }}{% if 360 > words %}1 minute{% else %}{{ words | divided_by:180 }} minutes{% endif %}
        </span>
        <span class="valign-wrapper {{ page.color }}-text text-darken-3">
          {% assign words = content | number_of_words %}
          <i class="material-icons left">access_time</i>{{ "study time: " }}{% if 360 > words %}1 minute{% else %}{{ words | divided_by:45 }} minutes{% endif %}
        </span>
      </p>
      {% endif %}

      <span class="page-content">
        {{ content }}
      </span>

    </div>

    <aside class="col s12 m4">
      <span class="pin-wrapper">

        {% if page.url contains "/hse/" or page.url contains "/cde/" %}
        {% include aside_hse.html %}
        {% endif %}

        {% if page.url contains "/materials/" %}
        {% include aside_materials.html %}
        {% endif %}




      </span>
    </aside>
  </div>

  <footer class="section">
    <span class="row">
      <div class="col s12" role="button">
        {% if page.previous.url %}
        <a rel="prev" href="{{ page.previous.url | remove: 'index.html' | prepend: site.baseurl }}" class="col s4 btn btn-large {{ page.color }} waves-effect left tooltipped" data-tooltip="{{ page.previous.title }}" data-position="top">
          <i class="material-icons left">chevron_left</i>Previous</a>
        {% endif %}
        {% if page.next.url %}
        <a rel="next" href="{{ page.next.url | remove: 'index.html' | prepend: site.baseurl }}" class="col s8 btn btn-large waves-effect right tooltipped" data-tooltip="{{ page.next.title }}" data-position="top">
          <i class="material-icons right">chevron_right</i>Next</a>
        {% endif %}
      </div>
    </span>
  </footer>

</article>