<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

{%- include head.html -%}

<body id="section" class="mdc-typography">

  {%- include mdc-drawer--rail.html -%}

  <main class="page-content" aria-label="Content">
    <article class="mdc-typography--body1">
      <header>
        <div class="mdc-layout-grid">
          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell--span-6">
              <h1 class="mdc-typography--headline1">{{ page.title }}</h1>
            </div>
          </div>
        </div>
      </header>
      <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell--span-6">
            <div class="markdown-body">
              {{ content }}
            </div>
          </div>
        </div>
      </div>
    </article>
  </main>

  {%- include zoom.html -%}

  {%- include foot.html -%}

</body>

</html>
